<!doctype html>
<html ng-app="">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nagar Nigam Jaipur</title>
    
     <!-- Add javascripts here -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-sanitize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-cookies.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.0.6/ui-grid.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.0/ui-bootstrap-tpls.js"></script>
   
   <!-- Add your own javascripts here  -->
   <script src="js/controllers/index.js"></script>
   <script src="js/controllers/nagarNigamController.js"></script>
   <script src="js/controllers/bulkGeneratorController.js"></script>
   <script src="js/controllers/aggregatorController.js"></script>

</head>
<body ng-controller="home">
	<div>
	I am index html
	</div>

</body>
</html>